@{
    ViewData["Title"] = "Home Page";
}

<html>
    <body>
        <form action="https://webpay3gint.transbank.cl/webpayserver/initTransaction" method="POST">
            <div class="mb-3">
            <label for="token_ws" class="form-label">token_ws</label>
                <input type="text" class="form-control" name="token_ws" value="@ViewBag.token">
            </div>
            <button type="submit" class="btn btn-primary">PAGAR</button>
        </form>
    </body>
</html>
